.mainContainer {
    padding: 10px;
    background-color: white;
    margin: 0px;
    border: 2px solid white;

    .logoContainer {
        .logoStyle {
            display: flex;
            color: #1B77F2;
            padding-left: 94px;
        }
    }

    .searchContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .searchStyle {
            background-color: #F9FAFC;
            width: 510px;
            height: 54px;
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;

            .iconStyle {
                height: 24px;
                width: 24px;
                color: #353535;
            }

            .inputStyle {
                border: 0px solid;
                background-color: transparent;
                padding: 0px;
                height: 50px;
                box-shadow: none;
                color: #A0A6B1;
                font-size: 14px;
                font-family: Poppins;
                line-height: 20px;
                letter-spacing: -0.28px;
            }
        }
    }

    .profileContainer {
        display: flex;
        justify-content: center;
        align-items: center;

        .iconContainer {
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            height: 34px;
            width: 34px;
            border-radius: 50%;
            background-color: #F9FAFC;
            margin-right: 22px;

            .icon {
                height: 20px;
                width: 20px;
                color: #353535;
            }
        }

        .profilePicContainer {
            display: flex;
            justify-content: center;
            align-items: center;

            .profilePicStyle {
                width: 37.325px;
                height: 37.138px;
                border-radius: 50%;
                background-color: #28C76F;
                margin-right: 13px;
            }

            h1 {
                text-align: center;
                font-size: 14px;
                color: #28262D;
                font-family: Poppins;
                margin-bottom: 0px;
            }

            h2 {
                color: #A2A2A2;
                text-align: center;
                font-size: 12px;
                font-family: Poppins;
                margin-bottom: 0px;
            }
        }
    }
}